@font-face {
    font-family: LoveOfThunder;
    src: url(/fonts/ALoveofThunder.ttf);
}

@import url(//db.onlinewebfonts.com/c/7732caef9ed946f7916b3f650e8837c2?family=Harding+Text+Web+Regular);


body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

.thunder-word {
    font-family: LoveOfThunder;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #68FFFE;
}

div.row.container {
    margin:0;
    
}

a div.row {
    color: #d7d7d7;
    background: #000000de;
}

a div.row:hover{
    color: white;
    background: #000000a3;
    transition: all 0.35s;
}


nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 0.9em;
    /* font-weight: bold; */
  }
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
    /* color: #dcdcdc; */
    text-decoration: none;
}
  
nav .active {
    background-color: rgb(56, 78, 179);
}
  
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
    /* background-color: #699372; */
    background-color:#68FFFE;
}
footer ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
  /* padding: 12px; */
    overflow: hidden;
}
footer a, footer a btn btn-rss{
    color: gray;
}

[class^="icons"] {
    height: 25px;
    width: 25px;
    position: relative;
    vertical-align: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.icons-mail {
    content: url('/files/email.svg');
/* display: inline-block; */
}


.icons-twitter {
    content: url('/files/twitter.svg');

/* display: inline-block; */
}


.icons-apple {
    content: url('/files/apple.svg');
/* display: inline-block; */
}

.icons-spotify {
    content: url('/files/spotify.svg')
}

@media only screen and (min-width: 765px) {
    
}