body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
}

a {
    color: black;
    text-decoration: none;
}

a div.row {
    color: white;
    background: #000000de;
}

a div.row:hover{
    background: #000000a3;
    transition: all 0.35s;
}


nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 0.9em;
    /* font-weight: bold; */
  }
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
    /* color: #dcdcdc; */
    text-decoration: none;
}
  
nav .active {
    background-color: rgb(56, 78, 179);
}
  
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .7em;
}
footer ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  /* padding: 12px; */
  overflow: hidden;
}
footer a, footer a btn btn-rss{
  color: gray;
}

@media only screen and (min-width: 765px) {
    
}